<div class="form">
  <div class="form__items" [formGroup]="fg">
    <div class="form__block" *ngFor="let block of blocks">
      <h3 class="form__subtitle">{{block.title}}</h3>
      <app-form-slider-input
        *ngFor="let item of block.values"
        [label]="item.label"
        [settings]="item.settings"
        [formControlName]="item.name">
      </app-form-slider-input>
    </div>
  </div>
  <div class="form__content">
    <div class="form__block" *ngFor="let result of results">
      <h3 class="form__subtitle">{{ result.title }}</h3>
      <div class="form__row" *ngFor="let item of result.values">
        <p class="form__info">{{ item.label }}</p>
        <p class="form__info">{{ item.value }}</p>
      </div>
    </div>
    <div class="form__block">
      <h3 class="form__subtitle">Прогноз</h3>
      <p class="form__info"> {{calc.term_accumulation}} </p>
      <br>
      <div class="form__row">
        <p class="form__info">Год</p>
        <p class="form__info">Зарплата</p>
        <p class="form__info">Затраты</p>
        <p class="form__info">Аренда</p>
      </div>
      <div class="form__row" *ngFor="let item of every_year ; index as i">
        <p class="form__info">{{ i+1 }}</p>
        <p class="form__info">{{ item.salary }}</p>
        <p class="form__info">{{ item.spending }}</p>
        <p class="form__info">{{ item.cost_rental }}</p>
      </div>
    </div>
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>
</div>
