<div class="form">
  <div class="form__items" [formGroup]="fg">
    <div class="form__block">
      <h3 class="form__subtitle">Квартира</h3>
      <app-form-slider-input
        label="Стоимость квартиры, млн руб"
        [settings]="cost_apartaments_settings"
        formControlName="cost_apartaments"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Изменение стоимости квартиры в год, %"
        [settings]="percent_settings"
        formControlName="percent_cost_change"
      ></app-form-slider-input>
    </div>
    <div class="form__block">
      <h3 class="form__subtitle">Условия ипотеки</h3>
      <app-form-slider-input
        label="Годовая ставка, %"
        [settings]="percent_settings"
        formControlName="percent_credit"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Срок, лет"
        [settings]="term_credit_settings"
        formControlName="term_credit"
      ></app-form-slider-input>
    </div>
    <div class="form__block">
      <h3 class="form__subtitle">Аренда</h3>
      <app-form-slider-input
        label="Стоимость аренды в месяц, тыс руб"
        [settings]="money_settings"
        formControlName="cost_rental"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Изменение стоимости аренды в год, %"
        [settings]="percent_settings"
        formControlName="percent_cost_rental_change"
      ></app-form-slider-input>
    </div>
    <div class="form__block">
      <h3 class="form__subtitle">Финансы</h3>
      <app-form-slider-input
        label="Уже накопленная сумма, тыс руб"
        [settings]="cash_settings"
        formControlName="cash"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Месячная зарплата, тыс руб"
        [settings]="money_settings"
        formControlName="salary"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Месячные затраты без учета проживания, тыс руб"
        [settings]="money_settings"
        formControlName="spending"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Изменение зарплаты за год, %"
        [settings]="percent_settings"
        formControlName="percent_salary_change"
      ></app-form-slider-input>
      <app-form-slider-input
        label="Изменение месячных затрат за год, %"
        [settings]="percent_settings"
        formControlName="percent_spending_change"
      ></app-form-slider-input>
    </div>
  </div>
  <div class="form__items">
    <div class="form__block">
      <h3 class="form__subtitle">С ипотекой</h3>
      <div class="form__row">
        <p class="form__info">Платить в месяц:</p>
        <p class="form__info">{{ month_hypothec }}</p>
      </div>
      <div class="form__row">
        <p class="form__info">Выплатить за весь срок:</p>
        <p class="form__info">{{ amount_hypothec }}</p>
      </div>
    </div>
    <div class="form__block">
       <h3 class="form__subtitle">С арендой</h3>
      <div class="form__row">
        <p class="form__info">Стоимость квартиры к тому времени</p>
        <p class="form__info">{{ cost_apartsments }}</p>
      </div>
      <div class="form__row">
        <p class="form__info">Стоимость аренды</p>
        <p class="form__info">{{ amount_rental }}</p>
      </div>
      <div class="form__row">
        <p class="form__info">Всего</p>
        <p class="form__info">{{ amount_accumulate }}</p>
      </div>
      <div class="form__row">
        <p class="form__info">Eжемесячно</p>
        <p class="form__info">{{ month_accumalate }}</p>
      </div>
    </div>
    <div class="form__block">
      <h3 class="form__subtitle"> Если копить, учитывая финансы </h3>
      <p class="form__info"> {{term_accumulation}} </p>
      <h3 class="form__subtitle"> Зарплата каждый год </h3>
      <p class="form__info" *ngFor="let item of salary_every_year; index as i">{{i + 1}}:  {{item}} </p>
    </div>
  </div>
</div>
